@import './pagenation';

@mixin back {
    
    background: #fbf9ff;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    color: #777;
    
}       h3{
    position: relative;
    top: -1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    color: #191d34;
    letter-spacing: 2px;
    text-transform: capitalize;
}







.blogContent{
    padding: 1rem;
    margin-top: 1px;
    background: #e6e6e7;
    .right{
    
        padding: 1rem;
        img{
            width: 100%;
            height: 50vh;
          margin-top: 1rem;
        }

        .dateFormat{
            background: red;
            width: 5rem;
            height: 5rem;
            display: flex;
            flex-wrap: wrap;
            color: white ;
            position: relative;
            top: -2rem;
            left: 3rem;
            border-radius: 6px;
          
            justify-content: space-around;
            .date{
                font-size: 2rem;
                text-align: center;
                // margin-left: 7%;
            }

        }


 

        p{
            color: #777;
            font-family: Arial, Helvetica, sans-serif;
        }

        .commentSection{
            color: #777;
            span{
                &:nth-child(1){
               
                    padding-right: 0.5rem;
                }
                &:nth-child(2){
                  
                    padding-left: 0.5rem;
                }
            }
           


        }
    }


    .left{
        margin-top: 2rem;
       
        padding: 1rem 0;

        .category{
            @include back;


        
            ul{
                list-style: none;

                li{
                    padding-bottom: 0.8rem;
                   
                    a{
                        text-decoration: none;
                        text-transform: capitalize;
                        margin-bottom: 1rem;
                        color: #777;

                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        }

        .recentPosts{


           @include back;
           section{
               position: relative;
              
               margin-top: 2rem;
               margin-bottom: -3.5rem;
        

            
            img{
                width: 6rem;
                height: 5rem;
            
            }

            h4{
                position: relative;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                top: -4rem;
                left: 7rem;
                color: #191d34; 
                &:hover{
                    color:red;
                }
            }
            p{
                position: relative;
                top: -4.5rem;
                left: 7rem;
            }
           }


          
        }
        .instagramPosts{
            @include back;

            img{
                width: 8rem;
                height: 5rem;
                margin: 10px;
            
            }

        }
        .newSettler{
            @include back;

            input{
                width: 90%;
                height: 3rem;
                border: 1px solid #777;
                padding: 1rem;
              
            }
            button{
                margin: 1.5rem auto;
                width: 90%;
               height: 3rem;
               background: red;
               border: 1px solid white;
               color: white;

               &:hover{
                border: 1px solid red;
                color:red;
                background: white;
                transition: all 0.8s ease;
            
               }
            }

        }

    }
}