@import "./variables";

// @mixin mobile {
//     @media screen and (max-width:$max_width){
//         @content
        
//     }
    
// }

@mixin myNavBar {
   
    width:100vw ;
    background: white;
 
    top: 0;
    left: 0;
    
    a{
        color: rgb(37, 33, 33);
    }
            
    .nav-items{
        // background: $backgroundColor;
        justify-content: space-around;
        align-items: center;
        display: flex;
   
        
    }

    .menu-icon{
        display: none;
    }

    h2{
        text-transform: capitalize;
       
      
      
    }

    ul{ display: flex;
        padding: 2rem 1rem;
        list-style: none;

        #closeIcon{
            display: none;
        }


        li{
            margin:1rem auto auto 2rem;
            


            a{
                text-decoration: none;
                font-size: 1.1rem;
                
                &:hover{
                    color: red;
                }

            }


            .drope{
                margin-top: -0.4rem;
                font-weight: 600;
                font-size: 1.1rem;
                &:focus{
                    outline: none;
                }
             
            }
        }
     
        

    }
    .search-container {
        form {
            span{
                font-size: 1.3rem;
                margin: 0 1rem;
            }
    }
    }

    
}


.nav-bar{
   position: relative;

   @include myNavBar()

}
.navBar{
   position: fixed;
   z-index: 1;
   background: white;
   border: none;
   box-shadow: 0rem 0.2rem 5px rgb(161, 159, 159);

   &:focus{
       outline: none;
   } ;
   @include myNavBar()

}

.hide-icon{
    display: none;
}

@media screen and (max-width:$max_width){

    

    @mixin SmallNAv {
      height: 16rem;
    

        .headerIcon{
            position: absolute;
            left: 4%;
            top: 3%;
        }
        .nav-items{
   
            justify-content: space-around;
            align-items: center;
            display: flex;
            width: 100%;
            height: 23vh;
            // padding-top: 15rem;

            ul{
                position: relative;
                transition: all 1s ease;
                margin-top: 25rem;
                background: yellow;
                width: 100vw;
                height: 120vh;
                padding-top: 26rem;
                padding-left: 40%;
                z-index: 1;
           

                    .closeIcon{
                    position: absolute;
                    transition: all 1s ease;
                    left: 80%;
                    margin-top: -7rem;
                    font-size: 2.3rem;
                 

                  
                   
                }
            }

            #search{
                position: relative;
                width: 20rem;
                display: flex;
                top: 0rem;
                left: -100%;

            }

            .search-container{
                position: absolute;
                left: 70%;

                @media screen and (max-width:500){
                    left: 73%;
                }
                .myform{
                    position: relative;
                  top: 6rem;
                 
                }



                .menu-icon{
                    position: absolute;
                    display: block;
                    left: 20%;
                   
                  
                    span{
                        font-size: 2.3rem;
                    
                    }

                   
                    
                }
            }


          
            
        }

        @media screen and (min-width:$max_width){
            .closeIcon{
                display: none;
            }

        }

        .show-icon{
            display: block;
        }
        .hide-icon{
            display: none;
        }

        
    }
   
    .nav-bar{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
      
        @include SmallNAv()
       }
    .navBar{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        @include SmallNAv()
       }
    
}