.pagenation{
    margin-top: 1rem;
    .paginate{
        width: 100%;
        margin-top: 1rem;
     
    
        ul{
            margin-top: 1rem;
            display: flex;
            list-style: none;
            margin-left: 45%;
            justify-content: space-around;
    
            li{
                background: skyblue;
            }
    
    
    
        }
    
    }
}