.pageList{
    justify-items: center;
    justify-content: center;
    margin: -8rem auto 4rem auto;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        margin: 6rem auto 1rem 45%;
    }
}