.subscribe{
background: #191d34;
color: white;
text-align: center;
margin: 3rem auto;
padding-top: 3rem;

h2{
    margin: 3rem auto;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


p{
    width: 60%;
    margin: 1rem auto 2rem 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form{
    position: relative;

    input{
       
        left: 30%;
 
        margin: 1rem auto 6rem -1rem;
        width: 30rem;
        height: 4rem;
        border-radius: 2rem;
        padding-left: 1rem;
        border: 2px solid white;
        color: white;
        background: transparent;

        &:focus{
            outline: none;
         }



    }
    button{
        top:1.4rem;
        color: white;
        margin-left: -11rem;
     
         padding:0.8rem 3rem ;
         border: none;
         border-radius: 2rem;
         background: rgb(38, 164, 248);
         &:focus{
            outline: none;
         }
         &:hover{
             background: white;
             border: 2px solid rgb(38, 164, 248);
             color: rgb(38, 164, 248);
         }


         @media screen and (max-width:500px){
             position: absolute;

            margin-top: 0rem;
            left: 29rem;


         }
    }

}


}