.titleTwo{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -15rem;


    h1{
        text-transform: capitalize;
        font-size: 4rem;
        font-weight: 900;
        color: rgb(38, 36, 46);

    }
}