.videoPlayer{
  
  
    justify-content: center;
    justify-items: center;
    height: 820px;
    margin: 8rem auto 2rem  1%;

    @media screen and (max-width:800px){
        display: none;
    
       
    
    
    }
  
}